*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}
:root {
  --background-color: #ffffff;
  --text-color: #212121;
  --hover-color: #2196f3;
  --logo-color: #000000;
  --button-color: #e5e5e5;
  --fildset-color: rgba(33, 33, 33, 0.2);
  --label-color: #757575;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
}
.container {
  padding: 0px 15px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.filters {
  display: flex;
  justify-content: space-around;
}
.filter {
  display: flex;
  justify-content: space-around;
  gap: 8px;
  padding-bottom: 50px;
  transition-property: background-color, box-shadow;
  transition-duration: 3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter:hover .filter:active {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  /* transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: var(--hover-color); */
}
.nav-list {
  display: flex;
  justify-content: space-between;
  gap: 46px;
  align-items: center;
  position: relative;
}

.header {
  border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-top: 0;
}
.link a {
  text-decoration: none;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--hover-color);
}

.web {
  color: var(--hover-color);
}
.studio {
  font-family: 'Raleway';
  color: var(--logo-color);
  margin-right: 46px;
}

.icon {
  text-decoration: none;
  border-style: none;
  background-color: #ffffff;

  margin-right: 10px;
  fill: currentColor;
  width: 16px;
  height: 16px;
}

.icon-svg:hover {
  fill: var(--hover-color);
}
.dots {
  list-style-type: none;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.menu-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  padding-left: 0;
  transition-property: color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.kreska-agencja::after {
  content: '';
  position: absolute;
  border-radius: 2px;
  bottom: -33px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--hover-color);
}
.kreska-portfolio::after {
  content: '';
  position: absolute;
  border-radius: 2px;
  bottom: -33px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--hover-color);
}

.menu-nav:hover,
.menu-nav:focus {
  color: var(--hover-color);
  /* transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}
.contact-menu {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-menu:hover,
.contact-menu:focus {
  color: var(--hover-color);
}

.header-text {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(255, 255, 255, 0.1)),
    url(../images/img-effective\ solutions.jpg);
  max-width: 1600px;
  margin: auto;
}
.main-header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
  max-width: 696px;
  padding-top: 200px;
  padding-bottom: 30px;
  margin: 0 auto;
}
.order-the-service {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
}
.main-button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  width: 200px;
  margin: 0 auto;
}
.div-button {
  text-align: center;
  margin-top: 30px;
  padding-bottom: 210px;
  margin: 0;
}
.cursor {
  cursor: pointer;
}

.our-strengths {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  left: 215px;
  top: 774px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.motto {
  padding-top: 94px;
}
.description-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.photo-layout {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.item {
  flex-basis: calc((100% - 90px) / 4);
}
.what-we-do {
  flex-basis: calc((100% - 60px) / 3);
  position: relative;
}

img {
  display: block;
}

.apps {
  position: absolute;
  background: rgba(47, 48, 58, 0.8);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  bottom: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 27px;
  color: #ffffff;
}
.text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding-top: 10px;
  color: #757575;
  text-align: justify;
}
.our-team-section {
  background-color: #f5f4fa;
  margin: 0;
}

.second-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}
.our-team {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.figure-team {
  width: 270px;
  height: 428px;
  background: #ffffff;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.name {
  display: block;
  font-weight: 500;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 30px;
}
.function {
  color: #757575;
  padding-bottom: 16px;
}
.social-links {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 206px;
  height: 56px;
  margin-left: 32px;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover {
  background: #2196f3;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #ffffff;
}
.social-link:focus {
  background: #2196f3;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #ffffff;
}
.our-customers-section {
  display: flex;
  flex-direction: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}
.our-customers {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
}
.our-customers:hover {
  fill: #2196f3;
  transition: all 0.28s;
  border-color: #2196f3;
  cursor: pointer;
}
.our-customers:focus {
  fill: #2196f3;
  transition: all 0.28s;
  border-color: #2196f3;
  cursor: pointer;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background: var(--button-color);
  border-radius: 4px;
  border: var(--button-color);
  padding: 6px 22px 6px 22px;
  transition-property: color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:active,
.button:hover {
  background: var(--hover-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #fff;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.project {
  width: 370px;
  height: 404px;
  display: block;
  background: var(--background-color);
  border: 1px solid #eeeeee;
  flex-basis: calc((100% - 60px) / 3);
  /* position: relative; */
}
.box-overlay {
  /* flex-basis: calc((100% - 60px) / 3); */
  width: 368px;
  height: 402px;
  position: relative;
  overflow: hidden;
}
.overlay {
  width: 370px;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  position: absolute;
  transform: translateY(140%);
  will-change: transform;
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  padding: 49px 45px 49px 24px;
  color: #ffffff;
}
.box-overlay:hover .overlay {
  transform: translate(0, 0);
}

.project:hover {
  background: #ffffff;
  /* border: 1px solid #eeeeee; */
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-description {
  width: 370px;
  background: #ffffff;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  z-index: 1;
  position: relative;
}
.block {
  display: block;
}
.project-name {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-top: 20px;
  padding-right: 24px;
  /* padding-bottom: 4px; */
  padding-left: 24px;
}

.project-type {
  display: block;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
  padding-top: 4px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}
.footer {
  background-color: #2f303a;
  /* height: 252px; */
  left: 0px;
  top: 2097px;
  background: #2f303a;
}
.studio-footer {
  font-family: 'Raleway';
  color: #fff;
}
.logo-footer {
  padding-top: 60px;
  padding-bottom: 20px;
}
.mail-footer {
  padding-top: 9px;
  padding-bottom: 9px;
}
.address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.last-element {
  padding-bottom: 60px;
}
.h4-class-footer {
  letter-spacing: 0.03em;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  padding-top: 72px;
  line-height: 16px;
  margin-top: 0px;
  padding-top: 72px;
  margin-bottom: 20px;
}

.joinus-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.social-links-footer {
  fill: #fff;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 206px;
  height: 44px;
}

.social-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  background: rgba(255, 255, 255, 0.1);
}
.flix {
  display: flex;
}
.kontakt {
  margin-right: 70px;
}

.is-hidden {
  opacity: 0.7;
  visibility: hidden;
  pointer-events: none;
  transform: scale(0);
}
/* translateX(-100%) */
.backdrop {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.2);
  transition: transform 0.25s;
}
.modal {
  position: relative;
  width: 528px;
  height: 581px;
  /* left: 536px;
  top: 221px; */
  /* justify-content: center;
  align-items: center; */
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  margin: auto;
  flex-direction: column;
}

.close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  /* left: 1026px;
  top: 229px; */
  cursor: pointer;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  top: 10px;
  right: 10px;
}

.title-form {
  width: 448px;
  height: 23px;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
}

.my-form .icon-form {
  width: 18px;
  height: 18px;
  margin: 11px 12px 11px 12px;
}

.fildset {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 40px;
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-bottom: 28px;
  transition: border-color 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.my-form {
  margin-top: 30px;
}

.label {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  /* color: var(--label-color); */
}
.my-form .label {
  position: absolute;
  top: -20px;
  background-color: transparent;
}

.my-form .input {
  border: 0;
  background-color: transparent;
}

.my-form .input:focus {
  outline: 0;
}

.fildset:has(input:focus) {
  border-color: var(--hover-color);
}
.fildset:has(input:focus) .icon-form {
  fill: var(--hover-color);
}
.fildset-textarea:has(textarea:focus) {
  border-color: var(--hover-color);
}
.placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.label-textarea {
  width: 448px;
  height: 120px;
}

.textarea {
  width: 416px;
  height: 96px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  /* outline: 0; */
  color: rgba(117, 117, 117, 0.5);
  margin: 12px 16px 12px 16px;
  text-decoration: none;
  resize: none;
}
.fildset-textarea {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 40px;
  width: 448px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-bottom: 20px;
  transition: border-color 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* .checkbox {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
} */

.submint {
  display: flex;
  width: 200px;
  height: 50px;
  text-align: center;
  margin: 30px 164px 40px 164px;
  background: #2196f3;
  border-radius: 4px;
  transition-property: background-color, box-shadow;
  transition-duration: 3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  border: none;
}

.submint:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.send {
  width: 48px;
  height: 30px;
  margin: 10px 76px 10px 76px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.legal-checbox {
  margin-left: 38px;
}

.checkbox {
  visibility: hidden;
}

.legal-checbox {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 146%;
  letter-spacing: 0.03em;
  position: relative;
}
.legal-checbox a {
  color: #2196f3;
}
.legal-checbox svg {
  fill: #ffffff;
  background: #ffffff;
  border: 2px solid rgba(33, 33, 33, 1);
  border-radius: 2px;
  position: relative;
  top: 2px;
  transition: border 0.05s, fill 0.05s, background-color 0.05s;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
}
.checkbox:checked + span svg {
  background-color: #2196f3;
  border: 0;
}

/* NEWSLETER */

.newsletter-email {
  padding: 15px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
}
.newsletter-email::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* display: flex; */
  /* align-items: center; */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  height: 50px;
}
.newsletter-button {
  /* margin: 0;
  margin-left: 12px;
  display: inline-flex;
  align-items: center;
  height: 50px;
  padding: 0;
  padding-left: 42px;
  padding-right: 28px; */

  width: 200px;
  height: 50px;
  /* display: inline-flex; */
  align-items: center;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.newsletter__icon {
  /* fill: #ffffff; */
  margin-left: 24px;
  /* margin-top: 13px;
  margin-bottom: 13px;
  margin-right: 13px; */
}

.newsletter-heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
.newsletter {
  display: flex;
  margin: 114px 0px 94px 75px;
  width: 570px;
  height: 86px;
}

.newsletter .label {
  position: absolute;
  top: -40px;
  background-color: transparent;
  /* color: var(--label-color); */
}

.newsletter-fieldset {
  margin-right: 12px;
  height: 50px;
}

.newsletter-fieldset:has(input:hover) {
  border-color: var(--hover-color);
}
.newsletter-fieldset:has(input:focus) {
  border-color: var(--hover-color);
}
