/* *,
*::after,
*::before {
 margin: 0;
 padding: 0;
} */
/* :root {
 --background-color: #ffffff;
 --text-color: #212121;
 --hover-color: #2196f3;
 --logo-color: #000000;
 --button-color: #e5e5e5;
 --fildset-color: rgba(33, 33, 33, 0.2);
 --label-color: #757575;
} */

/* body {
 font-family: 'Roboto', sans-serif;
 color: var(--text-color);
 background-color: var(--background-color);
} */

/* <<<<<<<<<<<_____________filters
>>>>>>>>>>>>> */

/* <-- cz 1 Header--> */

/* .header {
 border-bottom: 1px solid #ececec;
 padding-top: 24px;
 padding-bottom: 25px;
 margin-top: 0;
}
.container {
 padding: 0px 15px;
 width: 100%;
 max-width: 1200px;
 margin: 0 auto;
} */

/* .header-container__menu {
 display: flex;
 justify-content: space-between;
 gap: 46px;
 align-items: center;
 position: relative;
 list-style-type: none;
 text-decoration: none;
}

.logo__studio {
 font-family: 'Raleway';
 font-weight: 700;
 font-size: 26px;
 line-height: 1.19;
 letter-spacing: 0.03em;
 color: var(--hover-color);
 text-decoration: none;
}
.logo__studio1 {
 color: var(--hover-color);
}
.logo__studio2 {
 color: var(--logo-color);
 margin-right: 46px;
} */

/* <<<<<<<<<<<,header cz 2 menu nav->>>>>>>>>>>>>> */

/* .header-container__nav-list {
 display: flex;
 justify-content: space-between;
 gap: 46px;
 align-items: center;
 position: relative;
 list-style-type: none;
 text-decoration: none;
}
.header-container__menu-nav {
 font-weight: 500;
 font-size: 14px;
 line-height: 1.14;
 letter-spacing: 0.02em;
 color: #212121;
 padding-left: 0;
 transition-property: color;
 transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
 position: relative;
 text-decoration: none;
}

.header-container__contact-menu {
 display: flex;
 justify-content: space-between;
 gap: 46px;
 align-items: center;
 position: relative;
 list-style-type: none;
 text-decoration: none;
}
.header-container__contact {
 display: flex;
 font-weight: 500;
 font-size: 14px;
 line-height: 1.14;
 letter-spacing: 0.02em;
 color: #757575;
 transition-duration: 250ms;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 text-decoration: none;
}
.header-container__contact-icon {
 text-decoration: none;
 border-style: none;
 background-color: #ffffff;
 margin-right: 10px;
 fill: currentColor;
 width: 16px;
 height: 16px;
}

.header-container--underscore-agencja::after {
 content: '';
 position: absolute;
 border-radius: 2px;
 bottom: -33px;
 left: 0;
 width: 100%;
 height: 4px;
 background-color: var(--hover-color);
}
.header-container--underscore-portfolio::after {
 content: '';
 position: absolute;
 border-radius: 2px;
 bottom: -33px;
 left: 0;
 width: 100%;
 height: 4px;
 background-color: var(--hover-color);
}

.header-container__menu-nav:hover,
.header-container__menu-nav:focus {
 color: var(--hover-color);
}

.header-container__contact:hover,
.header-container__contact:focus {
 color: var(--hover-color);
} */

/* 
<section background>>>>>>>>>>>>>>>>>> 



*/
/* .section {
 padding-top: 94px;
 padding-bottom: 94px;
} */
/* .section-background {
 background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(255, 255, 255, 0.1)),
  url(../images/img-effective\ solutions.jpg);
 max-width: 1600px;
 margin: auto;
}

.section-background__title {
 font-weight: 900;
 font-size: 44px;
 line-height: 1.36;
 text-align: center;
 letter-spacing: 0.06em;
 text-transform: uppercase;
 color: #fff;
 max-width: 696px;
 padding-top: 200px;
 padding-bottom: 30px;
 margin: 0 auto;
}

.section-backgroutn__button-description {
 font-weight: 700;
 font-size: 16px;
 line-height: 1.87;
 letter-spacing: 0.06em;
 color: #fff;
 padding-top: 10px;
 padding-bottom: 10px;
 display: block;
}
.section-backgroutn__button-card {
 background: #2196f3;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
 border-radius: 4px;
 border: none;
 width: 200px;
 margin: 0 auto;
 cursor: pointer;
}
.section-backgroutn__button {
 text-align: center;
 margin-top: 30px;
 padding-bottom: 210px;
 margin: 0;
} */
/* .cursor {
 cursor: pointer;
} */

/* /<<<<<<<<<<< Sekcion solution>>>>>>>>> */

/* .section-solution {
 padding-top: 94px;
 padding-bottom: 94px;
}
.section-solution__photo-layout {
 display: flex;
 flex-wrap: wrap;
 gap: 30px;
 list-style-type: none;
}

.section-solution__icon {
 display: flex;
 align-items: center;
 justify-content: center;
 width: 270px;
 height: 120px;
 left: 215px;
 top: 774px;
 background: #f5f4fa;
 border-radius: 4px;
 margin-bottom: 30px;
}

.section-solution__description-text {
 font-weight: 700;
 font-size: 14px;
 line-height: 1.14;
 letter-spacing: 0.03em;
 text-transform: uppercase;
}

.section-solution__item {
 flex-basis: calc((100% - 90px) / 4);
}
.section-solution__motto {
 font-size: 14px;
 line-height: 1.71;
 letter-spacing: 0.03em;
 padding-top: 10px;
 color: #757575;
 text-align: justify;
} */

/* <<<<<<<<<<<sekcja czym się zajmujemy>>>>>>>>>>>> */

/* .section-job {
 padding-top: 94px;
}
.section-job__photo-layout {
 display: flex;
 flex-wrap: wrap;
 gap: 30px;
 list-style-type: none;
}
.section-job__heading {
 font-weight: 700;
 font-size: 36px;
 line-height: 1.16;
 text-align: center;
 letter-spacing: 0.03em;
 padding-bottom: 50px;
}
.section-job__picture {
 flex-basis: calc((100% - 60px) / 3);
 position: relative;
}

.section-job__picture-description {
 position: absolute;
 background: rgba(47, 48, 58, 0.8);
 justify-content: center;
 align-items: center;
 width: 100%;
 height: 70px;
 bottom: 0;
 display: block;
 font-weight: 700;
 font-size: 14px;
 line-height: 16px;
 text-align: center;
 letter-spacing: 0.03em;
 text-transform: uppercase;
 padding-top: 27px;
 color: #ffffff;
} */

/* <<<<<<<<<<<,section team >>>>>>>>>>>> */

/* .section-team {
 padding-top: 94px;
 padding-bottom: 94px;
 background-color: #f5f4fa;
 margin: 0;
}
.section-team__heading {
 font-weight: 700;
 font-size: 36px;
 line-height: 1.16;
 text-align: center;
 letter-spacing: 0.03em;
 padding-bottom: 50px;
}
.section-team__photo-layout {
 display: flex;
 flex-wrap: wrap;
 gap: 30px;
 list-style-type: none;
}
.section-team__picture {
 width: 270px;
 height: 428px;
 background: #ffffff;
 text-align: center;
 box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
 border-radius: 0px 0px 4px 4px;
}
.section-team__title {
 font-size: 16px;
 line-height: 1.18;
 text-align: center;
 letter-spacing: 0.03em;
 display: block;
 font-weight: 500;
 text-align: center;
 padding-bottom: 10px;
 padding-top: 30px;
}
.section-team__description {
 font-size: 16px;
 line-height: 1.18;
 text-align: center;
 letter-spacing: 0.03em;
 color: #757575;
 display: block;
}
.section-team__socialicons {
 color: #757575;
 padding-top: 16px;
 cursor: pointer;
 display: flex;
 flex-wrap: wrap;
 gap: 10px;
 width: 206px;
 height: 56px;
 margin-left: 32px;
} */
/* .contact-menu {
 display: flex;
 font-weight: 500;
 font-size: 14px;
 line-height: 1.14;
 letter-spacing: 0.02em;
 color: #757575;
 transition-duration: 250ms;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 text-decoration: none;
} */
/* .name {
 display: block;
 font-weight: 500;
 text-align: center;
 padding-bottom: 10px;
 padding-top: 30px;
} */

/* .social-links {
 display: flex;
 flex-wrap: wrap;
 gap: 10px;
 width: 206px;
 height: 56px;
 margin-left: 32px;
} */
/* .section-team__social-icon {
 display: flex;
 align-items: center;
 justify-content: center;
 width: 44px;
 height: 44px;
 border-radius: 50%;
 fill: #afb1b8;
 transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-team__social-icon :hover {
 background: #2196f3;
 width: 44px;
 height: 44px;
 border-radius: 50%;
 fill: #ffffff;
}
.section-team__social-icon :focus {
 background: #2196f3;
 width: 44px;
 height: 44px;
 border-radius: 50%;
 fill: #ffffff;
} */

/* <<<<<<<<<<<<<<<<<our customer secition>>>>>>>>>>>> */

/* .section-customer {
 padding-top: 94px;
 padding-bottom: 94px;
}

.section-customer__list {
 display: flex;
 flex-wrap: wrap;
 gap: 30px;
 list-style-type: none;
}
.section-customer__header {
 display: flex;
 flex-direction: wrap;
 align-items: center;
 justify-content: center;
 gap: 30px;
 font-weight: 700;
 font-size: 36px;
 line-height: 42px;
 text-align: center;
 letter-spacing: 0.03em;
 padding-bottom: 50px;
}
.section-customer__icon {
 display: flex;
 width: 170px;
 height: 92px;
 border: 1px solid #afb1b8;
 border-radius: 4px;
 fill: #afb1b8;
}
.section-customer__icon:hover {
 fill: #2196f3;
 transition: all 0.28s;
 border-color: #2196f3;
 cursor: pointer;
}
.section-customer__icons:focus {
 fill: #2196f3;
 transition: all 0.28s;
 border-color: #2196f3;
 cursor: pointer;
} */

/* <<<<<<<<<sekcja filtry >>>>>> */

/* .section-filters {
 display: flex;
 justify-content: space-around;
}
.section-filter {
 display: flex;
 justify-content: space-around;
 gap: 8px;
 padding-bottom: 50px;
 transition-property: background-color, box-shadow;
 transition-duration: 3s;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 list-style: none;
}
.section-filter:hover .section-filter:active {
 box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section-filter__button {
 font-weight: 500;
 font-size: 16px;
 line-height: 1.62;
 text-align: center;
 letter-spacing: 0.03em;
 background: var(--button-color);
 border-radius: 4px;
 border: var(--button-color);
 padding: 6px 22px 6px 22px;
 transition-property: color;
 transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
 cursor: pointer;
}

.section-filter__button:active,
.section-filter__button:hover {
 background: var(--hover-color);
 box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
 border-radius: 4px;
 color: #fff;
} */

/* <<<<<<<<<<<<<<<<sekcja projekty >>>>>>>>>>>>>>>>>>> */

/* .section-projects {
 display: flex;
 flex-wrap: wrap;
 gap: 30px;
}
.section-project {
 width: 370px;
 height: 404px;
 display: block;
 background: var(--background-color);
 border: 1px solid #eeeeee;
 flex-basis: calc((100% - 60px) / 3);
}
.section-project__box {
 width: 368px;
 height: 402px;
 position: relative;
 overflow: hidden;
}
.section-project__overlay {
 width: 370px;
 height: 294px;
 background: rgba(33, 150, 243, 0.9);
 position: absolute;
 transform: translateY(140%);
 will-change: transform;
 transition: transform 250ms;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 font-weight: 400;
 font-size: 18px;
 line-height: 28px;
 letter-spacing: 0.03em;
 padding: 49px 45px 49px 24px;
 color: #ffffff;
}

.section-project__description {
 width: 370px;
 background: #ffffff;
 border-bottom: 1px solid #eeeeee;
 border-left: 1px solid #eeeeee;
 border-right: 1px solid #eeeeee;
 z-index: 1;
 position: relative;
}

.section-project__name {
 display: block;
 font-weight: 700;
 font-size: 18px;
 line-height: 2;
 letter-spacing: 0.06em;
 padding-top: 20px;
 padding-right: 24px;
 padding-left: 24px;
}

.section-project__type {
 display: block;
 font-size: 16px;
 line-height: 1.87;
 letter-spacing: 0.03em;
 color: #757575;
 padding-top: 4px;
 padding-right: 24px;
 padding-bottom: 20px;
 padding-left: 24px;
}
.section-project__box:hover .section-project__overlay {
 transform: translate(0, 0);
}

.section-project:hover {
 background: #ffffff;
 box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);
} */
/* 
<<<<<<<<<<<<footer>>>>>>>>>>>>>>>>> */

/* .footer {
 background-color: #2f303a;
 left: 0px;
 top: 2097px;
 background: #2f303a;
}
.footer-container {
 display: flex;
 padding: 0px 15px;
 width: 100%;
 max-width: 1200px;
 margin: 0 auto;
}
.logo-footer {
 padding-top: 60px;
 padding-bottom: 20px;
}

.logo-footer__studio-footer {
 font-family: 'Raleway';
 font-weight: 700;
 font-size: 26px;
 line-height: 1.19;
 letter-spacing: 0.03em;
 text-decoration: none;
}
.logo-footer__studio-footer1 {
 color: var(--hover-color);
}
.logo-footer__studio-footer2 {
 font-family: 'Raleway';
 color: #fff;
}

.footer-contact {
 list-style-type: none;
}
.footer-contact__mail {
 padding-top: 9px;
 padding-bottom: 9px;
}

.footer-contact__menu {
 display: flex;
 font-weight: 500;
 font-size: 14px;
 line-height: 1.14;
 letter-spacing: 0.02em;
 color: #757575;
 transition-duration: 250ms;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 text-decoration: none;
}
.footer-contact__address {
 font-size: 14px;
 line-height: 1.71;
 letter-spacing: 0.03em;
 color: #ffffff;
}
.footer-contact_number {
 padding-bottom: 60px;
}

.footer-joinus {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 margin-left: 70px;
}
.footer-joinus__slogan {
 letter-spacing: 0.03em;
 color: #fff;
 font-weight: 700;
 font-size: 14px;
 padding-top: 72px;
 line-height: 16px;
 margin-top: 0px;
 padding-top: 72px;
 margin-bottom: 20px;
}

.footer__social-links {
 fill: #fff;
 display: flex;
 flex-wrap: wrap;
 gap: 10px;
 width: 206px;
 height: 44px;
}

.footer__social-link {
 display: flex;
 align-items: center;
 justify-content: center;
 width: 44px;
 height: 44px;
 border-radius: 50%;
 fill: #afb1b8;
 background: rgba(255, 255, 255, 0.1);
}
.footer-social__icon {
 display: flex;
 font-weight: 500;
 font-size: 14px;
 line-height: 1.14;
 letter-spacing: 0.02em;
 color: #757575;
 transition-duration: 250ms;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 text-decoration: none;
}

.footer-contact__menu:hover,
.footer-contact__menu:focus {
 color: var(--hover-color);
}
.footer__social-link:hover {
 background: radial-gradient(circle, #2196f3 70%, #2f303a 70%);
} */

/* Cz 2 - bacgroudn image i bacdroop  */

/* .is-hidden {
 opacity: 0.7;
 visibility: hidden;
 pointer-events: none;
 transform: scale(0);
} */
/* 
.backdrop {
 position: fixed;
 display: flex;
 width: 100%;
 height: 100%;
 left: 0px;
 top: 0px;
 background: rgba(0, 0, 0, 0.2);
 transition: transform 0.25s;
} */

/* .backdrop__modal {
 position: relative;
 width: 528px;
 height: 581px;
 background: #ffffff;
 box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
 border-radius: 4px;
 display: flex;
 margin: auto;
 flex-direction: column;
}

.backdrop__close-button {
 position: absolute;
 width: 30px;
 height: 30px;
 cursor: pointer;
 background: #ffffff;
 border: 1px solid rgba(0, 0, 0, 0.1);
 border-radius: 50%;
 top: 10px;
 right: 10px;
}

.backdrop-data__title {
 width: 448px;
 height: 23px;
 margin-top: 40px;
 margin-left: 40px;
 margin-right: 40px;
 margin-bottom: 12px;
 font-weight: 700;
 font-size: 20px;
 line-height: 23px;
 text-align: center;
 letter-spacing: 0.03em;
}

.backdrop-data__form .backdrop-data__icon-form {
 width: 18px;
 height: 18px;
 margin: 11px 12px 11px 12px;
}

.backdrop-data__fildset {
 position: relative;
 display: flex;
 align-items: center;
 margin-left: 40px;
 width: 448px;
 height: 40px;
 border-radius: 4px;
 border: 1px solid rgba(33, 33, 33, 0.2);
 margin-bottom: 28px;
 transition: border-color 0.25s;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-data__form {
 margin-top: 30px;
}

.backdrop-data__label {
 font-weight: 400;
 font-size: 12px;
 line-height: 14px;
 letter-spacing: 0.01em;
}
.backdrop-data__form .backdrop-data__label {
 position: absolute;
 top: -20px;
 background-color: transparent;
}

.backdrop-data__form .backdrop-data__input {
 border: 0;
 background-color: transparent;
}

.backdrop-data__form .backdrop-data__input:focus {
 outline: 0;
}

.backdrop-data__fildset:has(input:focus) {
 border-color: var(--hover-color);
}
.backdrop-data__fildset:has(input:focus) .backdrop-data__icon-form {
 fill: var(--hover-color);
}
.backdrop-data__fildset-textarea:has(textarea:focus) {
 border-color: var(--hover-color);
}
.backdrop-data__placeholder {
 font-weight: 400;
 font-size: 12px;
 line-height: 14px;
 letter-spacing: 0.01em;

 color: rgba(117, 117, 117, 0.5);
}

.backdrop-data__label-textarea {
 width: 448px;
 height: 120px;
}

.backdrop-data__textarea {
 width: 416px;
 height: 96px;
 font-weight: 400;
 font-size: 12px;
 line-height: 14px;
 letter-spacing: 0.01em;
 color: rgba(117, 117, 117, 0.5);
 margin: 12px 16px 12px 16px;
 text-decoration: none;
 resize: none;
}
.backdrop-data__fildset-textarea {
 position: relative;
 display: flex;
 align-items: center;
 margin-left: 40px;
 width: 448px;
 height: 120px;
 border-radius: 4px;
 border: 1px solid rgba(33, 33, 33, 0.2);
 margin-bottom: 20px;
 transition: border-color 0.25s;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox {
 font-weight: 400;
 font-size: 14px;
 line-height: 24px;
 letter-spacing: 0.03em;
 color: #757575;
 visibility: hidden;
}

.backdrop-data__submit {
 display: flex;
 width: 200px;
 height: 50px;
 text-align: center;
 margin: 30px 164px 40px 164px;
 background: #2196f3;
 border-radius: 4px;
 transition-property: background-color, box-shadow;
 transition-duration: 3s;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 cursor: pointer;
 border: none;
}
.backdrop-data__my-form:has(.backdrop-data__legal-checkbox input:checked).backdrop-data__submit {
 opacity: 1;
 pointer-events: all;
}

.backdrop-data__my-form:has .backdrop-data__submit:hover {
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.backdrop-data__send {
 width: 48px;
 height: 30px;
 margin: 10px 76px 10px 76px;
 font-weight: 700;
 font-size: 16px;
 line-height: 30px;
 display: flex;
 justify-content: center;
 text-align: center;
 letter-spacing: 0.06em;
 color: #ffffff;
}

.backdrop-data__legal-checkbox {
 color: #757575;
 font-weight: 400;
 font-size: 14px;
 line-height: 146%;
 letter-spacing: 0.03em;
 position: relative;
 margin-left: 38px;
}
.legal-checkbox a {
 color: #2196f3;
}
.backdrop-data__legal-checkbox svg {
 fill: #ffffff;
 background: #ffffff;
 border: 2px solid rgba(33, 33, 33, 1);
 border-radius: 2px;
 position: relative;
 top: 2px;
 transition: border 0.05s, fill 0.05s, background-color 0.05s;
 transition-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
}
.checkbox:checked + span svg {
 background-color: #2196f3;
 border: 0;
} */

/* NEWSLETER */

/* .section-footer__form {
 display: flex;
 margin: 114px 0px 94px 75px;
 width: 570px;
 height: 86px;
}
.section-footer__fildset {
 position: relative;
 display: flex;
 align-items: center;

 width: 360px;
 height: 40px;
 border-radius: 4px;
 border: 1px solid rgba(33, 33, 33, 0.2);
 transition: border-color 0.25s;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 margin-right: 12px;
 height: 50px;
}
.section-footer__label {
 font-weight: 700;
 font-size: 14px;
 line-height: 16px;
 letter-spacing: 0.03em;
 text-transform: uppercase;
 font-weight: 400;
 color: #ffffff;
}
.section-footer__form .section-footer__label {
 position: absolute;
 top: -40px;
 background-color: transparent;
}

.section-footer__newsletter-email {
 padding: 15px;
 background-color: inherit;
 border: 1px solid rgba(255, 255, 255, 0.3);
 filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
 border-radius: 4px;
 width: 358px;
 color: #ffffff;
}
.newsletter-email::placeholder {
 font-weight: 400;
 font-size: 16px;
 line-height: 20px;
 letter-spacing: 0.03em;
 color: rgba(255, 255, 255, 0.6);
 height: 50px;
}
.section-footer__newsletter-button {
 height: 50px;
 width: 200px;
 padding-left: 0px;
 padding-right: px;
 position: relative;
 color: #ffffff;
 font-weight: 700;
 font-size: 16px;
 line-height: 30px;
 letter-spacing: 0.06em;
 background: #2196f3;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
 border-radius: 4px;
 padding-right: 52px;
 cursor: pointer;
}
.section-footer__newsletter-icon {
 margin-left: 24px;
 position: absolute;
 left: 124px;
 top: 13px;
}

.newsletter-fieldset:has(input:hover) {
 border-color: var(--hover-color);
}
.newsletter-fieldset:has(input:focus) {
 border-color: var(--hover-color);
} */
