.backdrop {
 position: fixed;
 display: flex;
 width: 100%;
 height: 100%;
 left: 0px;
 top: 0px;
 background: rgba(0, 0, 0, 0.2);
 transition: transform 0.25s;
}

.backdrop__modal {
 position: relative;
 width: 528px;
 height: 581px;
 background: #ffffff;
 box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
 border-radius: 4px;
 display: flex;
 margin: auto;
 flex-direction: column;
}

.backdrop__close-button {
 position: absolute;
 width: 30px;
 height: 30px;
 cursor: pointer;
 background: #ffffff;
 border: 1px solid rgba(0, 0, 0, 0.1);
 border-radius: 50%;
 top: 10px;
 right: 10px;
}

.backdrop-data__title {
 width: 448px;
 height: 23px;
 margin-top: 40px;
 margin-left: 40px;
 margin-right: 40px;
 margin-bottom: 12px;
 font-weight: 700;
 font-size: 20px;
 line-height: 23px;
 text-align: center;
 letter-spacing: 0.03em;
}

.backdrop-data__form .backdrop-data__icon-form {
 width: 18px;
 height: 18px;
 margin: 11px 12px 11px 12px;
}

.backdrop-data__fildset {
 position: relative;
 display: flex;
 align-items: center;
 margin-left: 40px;
 width: 448px;
 height: 40px;
 border-radius: 4px;
 border: 1px solid rgba(33, 33, 33, 0.2);
 margin-bottom: 28px;
 transition: border-color 0.25s;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-data__form {
 margin-top: 30px;
}

.backdrop-data__label {
 font-weight: 400;
 font-size: 12px;
 line-height: 14px;
 letter-spacing: 0.01em;
}
.backdrop-data__form .backdrop-data__label {
 position: absolute;
 top: -20px;
 background-color: transparent;
}

.backdrop-data__form .backdrop-data__input {
 border: 0;
 background-color: transparent;
}

.backdrop-data__form .backdrop-data__input:focus {
 outline: 0;
}

.backdrop-data__fildset:has(input:focus) {
 border-color: var(--hover-color);
}
.backdrop-data__fildset:has(input:focus) .backdrop-data__icon-form {
 fill: var(--hover-color);
}
.backdrop-data__fildset-textarea:has(textarea:focus) {
 border-color: var(--hover-color);
}
.backdrop-data__placeholder {
 font-weight: 400;
 font-size: 12px;
 line-height: 14px;
 letter-spacing: 0.01em;

 color: rgba(117, 117, 117, 0.5);
}

.backdrop-data__label-textarea {
 width: 448px;
 height: 120px;
}

.backdrop-data__textarea {
 width: 416px;
 height: 96px;
 font-weight: 400;
 font-size: 12px;
 line-height: 14px;
 letter-spacing: 0.01em;
 color: rgba(117, 117, 117, 0.5);
 margin: 12px 16px 12px 16px;
 text-decoration: none;
 resize: none;
}
.backdrop-data__fildset-textarea {
 position: relative;
 display: flex;
 align-items: center;
 margin-left: 40px;
 width: 448px;
 height: 120px;
 border-radius: 4px;
 border: 1px solid rgba(33, 33, 33, 0.2);
 margin-bottom: 20px;
 transition: border-color 0.25s;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox {
 font-weight: 400;
 font-size: 14px;
 line-height: 24px;
 letter-spacing: 0.03em;
 color: #757575;
 visibility: hidden;
}

.backdrop-data__submit {
 display: flex;
 width: 200px;
 height: 50px;
 text-align: center;
 margin: 30px 164px 40px 164px;
 background: #2196f3;
 border-radius: 4px;
 transition-property: background-color, box-shadow;
 transition-duration: 3s;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 cursor: pointer;
 border: none;
}
.backdrop-data__my-form:has(.backdrop-data__legal-checkbox input:checked).backdrop-data__submit {
 opacity: 1;
 pointer-events: all;
}

.backdrop-data__my-form:has .backdrop-data__submit:hover {
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.backdrop-data__send {
 width: 48px;
 height: 30px;
 margin: 10px 76px 10px 76px;
 font-weight: 700;
 font-size: 16px;
 line-height: 30px;
 display: flex;
 justify-content: center;
 text-align: center;
 letter-spacing: 0.06em;
 color: #ffffff;
}

.backdrop-data__legal-checkbox {
 color: #757575;
 font-weight: 400;
 font-size: 14px;
 line-height: 146%;
 letter-spacing: 0.03em;
 position: relative;
 margin-left: 38px;
}
.legal-checkbox a {
 color: #2196f3;
}
.backdrop-data__legal-checkbox svg {
 fill: #ffffff;
 background: #ffffff;
 border: 2px solid rgba(33, 33, 33, 1);
 border-radius: 2px;
 position: relative;
 top: 2px;
 transition: border 0.05s, fill 0.05s, background-color 0.05s;
 transition-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
}
.checkbox:checked + span svg {
 background-color: #2196f3;
 border: 0;
}
