.section-solution {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-solution__photo-layout {
  margin-bottom: 30px;
  // max-width: 767px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: unset;
  }
  list-style-type: none;
}
.section-solution__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  margin-top: 30px;

  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
  }
}

.section-solution__description-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  display: block;
}

.section-solution_card {
  @media screen and (min-width: 768px) {
    // margin-bottom: auto;
    width: calc(50% - 15px);
  }
}
.section-solution__item {
  @media screen and (min-width: 768px) {
    width: calc(50% - 15px);
  }
}
.section-solution__motto {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding-top: 10px;
  color: #757575;
  text-align: justify;
}
