.header-container__menu {
  display: flex;
  justify-content: space-between;
  gap: 46px;
  align-items: center;
  position: relative;
  list-style-type: none;
  text-decoration: none;
}

.logo__studio {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--hover-color);
  text-decoration: none;
}
.logo__studio1 {
  color: var(--hover-color);
}
.logo__studio2 {
  color: var(--logo-color);
  margin-right: 96px;
}

/* <<<<<<<<<<<,header cz 2 menu nav->>>>>>>>>>>>>> */

.header-container__nav-list {
  display: flex;
  justify-content: space-between;
  gap: 46px;
  align-items: center;
  position: relative;
  list-style-type: none;
  text-decoration: none;
}
.header-container__menu-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  padding-left: 0;
  transition-property: color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  text-decoration: none;
  display: none;

  &:hover {
    color: var(--hover-color);
  }

  &:focus {
    color: var(--hover-color);
  }
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 50px;
    visibility: unset;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 50px;
    visibility: unset;
  }
}

.header-container__contact-menu {
  display: flex;
  justify-content: space-between;

  // align-items: center;
  position: relative;
  list-style-type: none;
  text-decoration: none;

  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    padding-left: 0;
    flex-direction: unset;
    display: flex;
    // gap: 30px;
    margin-left: auto;
  }
}
.header-container__contact {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;

  &:hover {
    color: var(--hover-color);
  }

  &:focus {
    color: var(--hover-color);
  }
}

.header-container__contact-icon {
  text-decoration: none;
  border-style: none;
  background-color: #ffffff;
  margin-right: 10px;
  fill: currentColor;
  width: 16px;
  height: 16px;
}

.header-container--underscore-agencja::after {
  content: '';
  position: absolute;
  border-radius: 2px;
  bottom: -33px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--hover-color);
}
.header-container--underscore-portfolio::after {
  content: '';
  position: absolute;
  border-radius: 2px;
  bottom: -33px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--hover-color);
}
