.footer {
 background-color: #2f303a;
 /* height: 252px; */
 left: 0px;
 top: 2097px;
 background: #2f303a;
}
.footer-container {
 display: flex;
 padding: 0px 15px;
 width: 100%;
 max-width: 1200px;
 margin: 0 auto;
}
.logo-footer {
 padding-top: 60px;
 padding-bottom: 20px;
}

.logo-footer__studio-footer {
 font-family: 'Raleway';
 font-weight: 700;
 font-size: 26px;
 line-height: 1.19;
 letter-spacing: 0.03em;
 text-decoration: none;
}
.logo-footer__studio-footer1 {
 color: var(--hover-color);
}
.logo-footer__studio-footer2 {
 font-family: 'Raleway';
 color: #fff;
}

.footer-contact {
 list-style-type: none;
}
.footer-contact__mail {
 padding-top: 9px;
 padding-bottom: 9px;
}

.footer-contact__menu {
 display: flex;
 font-weight: 500;
 font-size: 14px;
 line-height: 1.14;
 letter-spacing: 0.02em;
 color: #757575;
 transition-duration: 250ms;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 text-decoration: none;
}
.footer-contact__address {
 font-size: 14px;
 line-height: 1.71;
 letter-spacing: 0.03em;
 color: #ffffff;
}
.footer-contact_number {
 padding-bottom: 60px;
}

.footer-joinus {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 margin-left: 70px;
}
.footer-joinus__slogan {
 letter-spacing: 0.03em;
 color: #fff;
 font-weight: 700;
 font-size: 14px;
 padding-top: 72px;
 line-height: 16px;
 margin-top: 0px;
 padding-top: 72px;
 margin-bottom: 20px;
}

.footer__social-links {
 fill: #fff;
 display: flex;
 flex-wrap: wrap;
 gap: 10px;
 width: 206px;
 height: 44px;
}

.footer__social-link {
 display: flex;
 align-items: center;
 justify-content: center;
 width: 44px;
 height: 44px;
 border-radius: 50%;
 fill: #afb1b8;
 background: rgba(255, 255, 255, 0.1);
}
.footer-social__icon {
 display: flex;
 font-weight: 500;
 font-size: 14px;
 line-height: 1.14;
 letter-spacing: 0.02em;
 color: #757575;
 transition-duration: 250ms;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 text-decoration: none;
}

.footer-contact__menu:hover,
.footer-contact__menu:focus {
 color: var(--hover-color);
}
.footer__social-link:hover {
 background: radial-gradient(circle, #2196f3 70%, #2f303a 70%);
}

.section-footer__form {
 display: flex;
 margin: 114px 0px 94px 75px;
 width: 570px;
 height: 86px;
}
.section-footer__fildset {
 position: relative;
 display: flex;
 align-items: center;

 width: 360px;
 height: 40px;
 border-radius: 4px;
 border: 1px solid rgba(33, 33, 33, 0.2);
 transition: border-color 0.25s;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 margin-right: 12px;
 height: 50px;
}
.section-footer__label {
 font-weight: 700;
 font-size: 14px;
 line-height: 16px;
 letter-spacing: 0.03em;
 text-transform: uppercase;
 font-weight: 400;
 color: #ffffff;
}
.section-footer__form .section-footer__label {
 position: absolute;
 top: -40px;
 background-color: transparent;
 /* color: var(--label-color); */
}

.section-footer__newsletter-email {
 padding: 15px;
 background-color: inherit;
 border: 1px solid rgba(255, 255, 255, 0.3);
 filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
 border-radius: 4px;
 width: 358px;
 color: #ffffff;
}
.newsletter-email::placeholder {
 font-weight: 400;
 font-size: 16px;
 line-height: 20px;
 letter-spacing: 0.03em;
 color: rgba(255, 255, 255, 0.6);
 height: 50px;
}
.section-footer__newsletter-button {
 height: 50px;
 width: 200px;
 padding-left: 0px;
 padding-right: px;
 position: relative;
 color: #ffffff;
 font-weight: 700;
 font-size: 16px;
 line-height: 30px;
 letter-spacing: 0.06em;
 background: #2196f3;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
 border-radius: 4px;
 padding-right: 52px;
 cursor: pointer;
}
.section-footer__newsletter-icon {
 margin-left: 24px;
 position: absolute;
 left: 124px;
 top: 13px;
}

.newsletter-fieldset:has(input:hover) {
 border-color: var(--hover-color);
}
.newsletter-fieldset:has(input:focus) {
 border-color: var(--hover-color);
}
