.section-job {
  padding-top: 94px;

  display: none;
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.section-job__photo-layout {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style-type: none;
}
.section-job__heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}
.section-job__picture {
  flex-basis: calc((100% - 60px) / 3);
  position: relative;
}

.section-job__picture-description {
  position: absolute;
  background: rgba(47, 48, 58, 0.8);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  bottom: 0;
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 27px;
  color: #ffffff;
}
