.section-filters {
 display: flex;
 justify-content: space-around;
}

&:hover {
 box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
}

&:active {
 box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
}
.section-filter {
 display: flex;
 justify-content: space-around;
 gap: 8px;
 padding-bottom: 50px;
 transition-property: background-color, box-shadow;
 transition-duration: 3s;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 list-style: none;
}

.section-filter__button {
 font-weight: 500;
 font-size: 16px;
 line-height: 1.62;
 text-align: center;
 letter-spacing: 0.03em;
 background: var(--button-color);
 border-radius: 4px;
 border: var(--button-color);
 padding: 6px 22px 6px 22px;
 transition-property: color;
 transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
 cursor: pointer;
}

&:active {
 background: var(--hover-color);
 box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
 border-radius: 4px;
 color: #fff;
}
&:hover {
 background: var(--hover-color);
 box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
 border-radius: 4px;
 color: #fff;
}
