:root {
 --background-color: #ffffff;
 --text-color: #212121;
 --hover-color: #2196f3;
 --logo-color: #000000;
 --button-color: #e5e5e5;
 --fildset-color: rgba(33, 33, 33, 0.2);
 --label-color: #757575;
}
